@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
	Убираем внутренние отступы слева тегам списков,
	у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	Убираем внешние отступы body и двум другим тегам,
	у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	Убираем внешние отступы вертикали нужным тегам,
	у которых есть атрибут class
   */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	Убираем стандартный маркер маркированному списку,
	у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

/**
	Обнуляем вертикальные внешние отступы параграфа,
	объявляем локальную переменную для внешнего отступа вниз,
	чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	Внешний отступ вниз для параграфа без атрибута class,
	который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	Упрощаем работу с изображениями
   */
img {
  display: block;
  max-width: 100%;
}

/**
	Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
	Приводим к единому цвету svg-элементы
   */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
	Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
	Удаляем все анимации и переходы для людей,
	которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --dark-background-color: #1F2937;
  --blue-background-color: #3882F6;
  --white-color: #F9FAF8;
  --quote-background: #E5E7EB;
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--main-bg-color);
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: var(--dark-background-color);
  padding: 30px 0px 30px 0px;
  border-bottom: 2px solid var(--white-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--white-color);
  font-size: 24px;
  text-decoration: none;
}

.nav__link {
  color: var(--white-color);
  font-size: 18px;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.nav__link:hover {
  color: var(--blue-background-color);
}
.nav__list {
  display: flex;
  column-gap: 50px;
}

.hero {
  background-color: var(--dark-background-color);
  padding: 200px 0px 200px 0px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  max-width: 500px;
}
.hero__title, .hero__descr, .hero__link {
  color: var(--white-color);
}
.hero__title {
  font-size: 48px;
  font-weight: 900;
}
.hero__link {
  display: inline-block;
  background-color: var(--blue-background-color);
  padding: 20px 70px;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.hero__link:hover {
  background-color: rgb(110, 110, 255);
}
.hero__link:active {
  transform: scale(1.1);
}
.hero__image {
  background-image: url("../img/hero/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 500px;
  padding-top: 20%;
  border: 2px solid var(--white-color);
  border-radius: 20px;
}

.info {
  padding: 100px 0px 200px 0px;
}

.info__title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.info__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 200px;
  color: #000;
  text-decoration: none;
}

.info__card-image {
  background-image: url("../img/info/1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 200px;
  padding-top: 200px;
  border: 2px solid var(--blue-background-color);
  border-radius: 20px;
}

.info__card-image--2 {
  background-image: url("../img/info/2.webp");
}

.info__card-image--3 {
  background-image: url("../img/info/3.webp");
}

.info__card-image--4 {
  background-image: url("../img/info/4.webp");
}

.info__card-text {
  text-align: center;
}

.quote {
  background-color: var(--quote-background);
  padding: 200px 0px 200px 0px;
}

.quote__container {
  display: flex;
  flex-direction: column;
}

.qoute__text {
  font-size: 36px;
  font-style: italic;
}

.quote__author {
  font-size: 20px;
  align-self: flex-end;
  font-weight: 700;
}

.banner {
  padding: 200px 0px 200px 0px;
}

.banner__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-background-color);
  padding: 50px;
  border-radius: 20px;
}

.banner__title {
  font-size: 25px;
  color: var(--white-color);
}

.banner__descr {
  color: var(--white-color);
}

.banner__button {
  padding: 5px 50px;
  background-color: var(--blue-background-color);
  border: 2px solid var(--white-color);
  border-radius: 20px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.banner__button:hover {
  color: #000000;
  background-color: var(--white-color);
}

.footer {
  padding: 20px 0px 20px 0px;
  background-color: var(--dark-background-color);
}
.footer__text {
  font-size: 20px;
  text-align: center;
  color: var(--white-color);
}