.footer{
    padding: 20px 0px 20px 0px;
    background-color: var(--dark-background-color);
    &__text{
        font-size: 20px;
        text-align: center;
        color: var(--white-color);
    }
}