:root{
    // colors
    --dark-background-color: #1F2937;
    --blue-background-color: #3882F6;
    --white-color: #F9FAF8;
    --quote-background: #E5E7EB;

    // fonts
    --font-family: "Roboto", sans-serif;
}